# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
out/

# Spring Boot
backend/api/src/main/resources/application-local.yml
*.env

# OS
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/
dist/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
